

.bg-dark {
  background-color: #0f1418;
}

.text-white {
  color: #fff;
}

.custom-image {
  padding: 10px;
  border-radius: 20%;
  width: clac(100% - 20px);
}
.text-bold {
  font-weight: bold;
}

.custom-button button{
 color: rgb(255, 255, 255);
 border-color: #fff;
}

.custom-button button, .custom-button div{
  color: rgb(255, 255, 255);
  border-color: #fff;
 }
 